body {
  font-family: sans-serif;
  color: #333;
  background-color: pink;
  font-family: monospace;
  margin: 0;
}

img {
  height: 200px;
  width: 200px;
}

a, a:hover, a:active, a:visited {
  color: #555;
}

h2 { margin: 0; }

p { margin: 0; }

ul { padding: 0; }

li { list-style: none; }

#app {
  position: relative;
  padding-bottom: 4rem;
}

#user-details {
  text-align: center;
  padding: 1rem;
}

#user-details li {
  font-size: 1.2rem;
}

.repo {
  margin: 0;
  padding: 1rem;
}

.repo-inner {
  background-color: #fff;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border-left: 0.5rem solid hotpink;
  cursor: pointer;
  opacity: 0.6;
}

.repo-inner:hover {
  opacity: 1;
}

#input-container {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: RGBA(255,105,180, 0.8);
  padding: 1rem;
}

input {
  width: 24rem;
  font-size: 1rem;
  font-family: monospace;
  padding: 0.5rem;
}

button {
  font-size: 1rem;
  font-family: inherit;
  padding: 0.5rem;
  width: 4rem;
  margin-left: 1rem;
  cursor: pointer;
}
